
html, body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

#buttons {
	width: 100%;
	text-align: center;
	line-height: 45px;
	top: 0px;
	margin-bottom: 20px;
	border-top: 3px solid rgba(0, 30, 164, 0.6);
	background: rgba(0, 30, 164, 0.25);
}

ul {
	width: 100%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

li {
	display: inline;
	padding: 12px 20px;
	text-decoration: none;
	cursor: default;
	transition: 0.3s;
}

li:hover {
	background: rgba(0, 0, 0, 0.1);
	transition: 0.2s;
}

#container {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 800px;
}

.column {
	height: 50px;
	width: 50px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.3);
	margin-left: 2px;
	margin-right: 2px;
	opacity: 0.3;
}